* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    align-items: center;
}
.style{
    display: flex;
    flex-direction: row;
   align-items: center;
}
.container {
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    display: flex;
    /* background-color: red; */
    
}

.container .content {
    width: 50%;
    /* background-color: burlywood; */
}

.container .text {
    width: 50%;
    height: 430px;
    background-color: black;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    text-transform: capitalize;
}

.container .content2 h2 {
    font-size: 30px;
    margin-left: 35px;
    margin-bottom: 30px;
}

.container .content .content2 .text1 {
    margin: 30px 35px;
    width: 450px;
    line-height: 25px;
}

.container .content .content3 h3 {
    font-size: 25px;
    margin: 30px 35px;
}

.container .content .content3.lst {
    /* background-color:red; */
    width: 50%;
    float: left;
}

.container .content .content3 .lst li {
    width: 40%;
    margin-left: 45px;
    /* background-color: rgb(152, 152, 160); */
    float: left;
    line-height: 30px;
}