*{
    margin: 0;
    padding: 0;
}
.content{
    text-align:center;
}
h3{
    /* text-align: center; */
    margin: 40px auto;
}

.text .text4{
    height: 35px;
    width: 227px;
    border: 1px solid;
    margin-right: 13px;
    margin-bottom: 15px;
    padding-left: 15px ;
}
.text .text5{
    height: 35px;
    width: 500px;
    margin-bottom: 15px;
    padding-left: 15px;
}
.text .text3{
    width: 500px;
    height: 250px;
    margin-bottom: 10px;
    padding-left: 15px ;
    padding-top: 5px;
}
.text button{
    width: 110px;
    height: 35px;
    background-color:rgb(125,206,253) ;
    border-radius: 4px;
    border: 1px solid rgb(125,206,253);
    margin-right: 130px;
}