* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    background-color: rgb(242, 243, 245);
    width: 700px;
}

.text {
    width: 650px;
    margin: 20px;
    display: flex;
    border-bottom: 1px dashed rgb(244, 67, 54);
}

.content:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.content .text .img {
    background-color: rgb(217, 151, 222);
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    margin-top: 20px;
}

.content .text .info {
    float: right;
    width: 500px;
    margin-left: 50px;
    line-height: 30px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.content .text .info p {
    color: rgb(155, 166, 193);
    font-size: 18px;
}